<div class="flex justify-between items-center py-4 px-8 border-0 border-b">
  <p class="font-semibold text-2xl">All Notes</p>
  <div class="flex items-center gap-8">
    <div class="border-y-2 border-x border-gray-300 rounded-md py-2 px-4 flex justify-between items-center gap-2">
      <lucide-icon
        [name]="icons.Search"
        class="text-myBlack-200"
        size="20"
      ></lucide-icon>
      <input
        type="text"
        list="notes"
        class="outline-none text-myBlack-200"
        placeholder="Search by title or tag..."
      />
      <datalist id="notes">
        <option value="JS"></option>
        <option value="Python"></option>
        <option value="Java"></option>
        <option value="C++"></option>
        <option value="TypeScript"></option>
      </datalist>
    </div>
    <lucide-icon
      [name]="icons.Settings"
      class="text-myBlack-200"
      size="20"
    ></lucide-icon>
  </div>
</div>
