@if(link){
  <div [class]="'flex items-center mb-2 hover:bg-myWhite-200 p-2 cursor-pointer rounded-lg' + (checkRoute() ? ' bg-myWhite-200' : ' ')" routerLink="/{{link}}">
    <lucide-icon [name]="icon" color="black" size="20"></lucide-icon>
    <p class="ml-4 text-lg font-normal">{{text}}</p>
  </div>
}@else if(icon){
  <div [class]="style">
    <lucide-icon [name]="icon" [class]="iconStyle" [size]="iconSize"></lucide-icon>
    <p [class]="textStyle">{{text}}</p>
  </div>
}@else {
  <div [class]="style">
    <p [class]="textStyle">{{text}}</p>
  </div>
}