<div [class]="'py-2 px-2 cursor-pointer space-y-2 border-0 border-b w-full' + (note.id == inId ? ' bg-gray-200/70 rounded-md' : '')">
  <p class="text-lg font-medium w-[60%] leading-none">{{note.title}}</p>
  <div class="flex gap-2 items-center text-xs flex-wrap">
    @for (tag of note.tags; track $index) {
      <p class="bg-gray-300 p-1 rounded-sm">{{tag.name}}</p>
    }
  </div>
  <div class="flex gap-1 opacity-70 text-xs">
    <p>{{this.dateUtils.formatDate(note.date)}}</p>
    <!-- <p>{{note.date.toDateString().slice(8,10)}}</p>
    <p>{{note.date.toDateString().slice(4,7)}}</p>
    <p>{{note.date.toDateString().slice(11,15)}}</p> -->
  </div>
</div>