<div
  [class]="
    'flex items-center justify-center p-5 fixed top-0 left-0 w-full h-full bg-white/80 z-[9999] '
  "
>
  <div class="min-w-[40%] mx-auto p-6 bg-white rounded-lg shadow-md">
    <h2 class="text-2xl font-bold text-gray-800 mb-2">New Note</h2>
    <p class="text-gray-600 mb-2">Create a new note.</p>

    <div class="space-y-2">
      <div>
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="title"
          class="form-input"
          placeholder="Enter your username"
        />
      </div>

      <div class="flex items-center gap-2">
        <p class="form-label">Tags :</p>
        <div class="flex items-center gap-1">
          @for(item of selectedTags; track $index){
          <app-tag
            color="{{ getTag(item)?.color }}"
            (click)="removeTag(item)"
          />
          }
        </div>
      </div>

      <div>
        <select
          name="tags"
          id="tags"
          class="form-input"
          (change)="addTag($event)"
        >
          <option value="">Select tags</option>
          @for(item of tags; track $index){ @if(!selectedTags.has(item.id)){
          <option [value]="item.id">{{ item.name }}</option>
          } }
        </select>
      </div>

      <div class="flex justify-end space-x-3 pt-4">
        <button type="button" class="form-cancel" (click)="close()">Cancel</button>
        <button type="button" class="form-save" (click)="create()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
