<main class="flex bg-log_bg w-full h-screen font-poppins">
  <div class="w-1/2 flex items-center">
    <div class="px-16 text-white">
      <h1 class="text-[2.575em] mb-[0.7em] font-semibold">Capture Your Thoughts, Unleash Your Creativity!</h1>
      <p>Where Ideas Meet Ink - Jot Down Your Thoughts,<br> Organize Your Work, and Unleash Your Creativity with <br> Our Note-Taking Platform!</p>
    </div>
  </div>
  <div class="w-1/2 bg-white flex flex-col items-center justify-center">
    <form [formGroup]="loginForm" class="flex flex-col items-center w-full py-[5vh] px-0">
      <div class="w-fit items-center text-base mb-8 font-medium text-[1.30em]"> <p class="mb-1">Login To Your Account</p> <div class="h-[3px] w-1/2 bg-myOrange-100 m-auto"></div> </div>
      <label class="w-[65%]" for="">
        <input formControlName="email" class="w-full outline-none focus:bg-[#f4f4f5] bg-[#f4f4f5] py-[2vh] px-[2%] text-base font-medium my-[.5em] mx-0 rounded-[0.3125em] text-form_text shadow-md border-log_bg border-0" type="email" autocomplete="off" name="" id="" placeholder="Email">
        <p [class]="(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) ? 'text-log_bg w-full italic mb-[0.5em] font-medium text-right' : 'hidden'">Looks like this not an email</p> 
      </label>
      <label class="w-[65%]" for="">
        <input formControlName="password" class="w-full outline-none focus:bg-[#f4f4f5] bg-[#f4f4f5] py-[2vh] px-[2%] text-base font-medium my-[.5em] mx-0 rounded-[0.3125em] text-form_text shadow-md border-log_bg border-0" type="password" name="" id="" placeholder="Password">
        <p [class]="(loginForm.get('password')?.invalid && loginForm.get('password')?.touched) ? 'text-log_bg w-full italic mb-[0.5em] font-medium text-right' : 'hidden'">Password can't be empty</p>
        <p [class]="invalidCredentials ? 'text-log_bg w-full italic mb-[0.5em] font-medium' : 'hidden'">Invalid credentials</p>
      </label> 
      <input 
        value="Login" 
        type="submit" 
        [disabled]="loginForm.invalid"
        (click)="login()"
        class="text-white cursor-pointer w-[40%] py-[2vh] text-[1em] bg-myOrange-200 text-center rounded-lg my-4"
      />
      <p class="font-medium text-lg"><span class="opacity-30" >Click here to</span> <span class="text-myOrange-200 cursor-pointer" routerLink="/sign-up"> signUp</span></p>
      <p class="font-medium text-lg"><span class="" >OR</span> </p>
      <p class="font-medium flex space-x-2 items-center text-lg">
        <span class="opacity-30">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
          </svg>
        </span>
        <span class="text-myOrange-200 cursor-pointer" (click)="loginWithGoogle()"> <span class="text-black opacity-30">Log in with</span> google</span>
      </p>
    </form> 
  </div>
</main>