<div class="flex items-center cursor-pointer justify-between">
  <div class="flex items-center space-x-2">
    <div
      class="w-4 aspect-square rounded-3xl"
      style="background-color: {{ color }}"
    ></div>
    <p>{{ name }}</p>
  </div>
  @if(name){
    <div class="flex justify-between items-center gap-1">
      <lucide-icon [name]="icons.SquarePen" class="text-black hover:text-blue-500" size="15" (click)="update()"></lucide-icon>
      <lucide-icon [name]="icons.Trash2" class="text-black hover:text-red-500" size="15" (click)="delete()"></lucide-icon>
    </div>
  }
</div>
