.tags::-webkit-scrollbar {
  width: 0.45em;
}
.tags::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 20px;
}
.tags::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom,#fa6544,#f7f7f7);
  border-radius: 20px;
  border: 2px solid var(--primary-color)
}