<div class="w-full flex flex-col justify-between py-6 px-4 h-full border-0 border-r">
  <div>
    <app-create-tag (closeTag)="showCreateTag()" [hidden]="visible" (refetchTags)="fetchTags($event)"></app-create-tag>
    <div class="flex mb-4 justify-between items-center">
      <p class="font-semibold text-2xl cursor-pointer mr-2">myMEMORY</p>
      <div class="bg-black w-fit rounded-md flex items-center p-[3px]">
        <lucide-icon 
          [name]="icons.X" 
          color="white"
          size="20"
          routerLink="/login"
        ></lucide-icon>
      </div>
    </div>
    <div class="py-2 border-0 border-b ">
      <app-nav-button [icon]="icons.Notebook" link="notes" text="Notes"/>
      <app-nav-button [icon]="icons.Settings" link="settings" text="Settings"/>
      <app-nav-button [icon]="icons.Trash2" link="trash" text="Trash"/>
    </div>
    <div>
      <p class="font-medium text-base text-myBlack-200 mb-2">Tags</p>
      <div class="px-2 max-h-[20vh] overflow-y-auto tags">
        @for (tag of tags; track $index) {
          <app-tag name="{{tag.name}}" color="{{tag.color}}"></app-tag>
        }
        <!-- <app-tag name="Important" color="red"></app-tag>
        <app-tag name="Casual" color="green"></app-tag>
        <app-tag name="Daily" color="yellow"></app-tag> -->
      </div>
      <app-nav-button [icon]="icons.BadgePlus" text="Create Tag" [style]="'flex items-center mb-2 hover:bg-myWhite-200 p-2 cursor-pointer rounded-lg gap-4'" (click)="showCreateTag()"/>
    </div>
  </div>
  <div class='flex justify-between items-center mb-2 hover:bg-myWhite-200 p-2 cursor-pointer rounded-lg bg-myWhite-200'>
    @if(user){
      <p class="text-lg font-normal">{{user.firstname || ' '}}</p>
    }
    <lucide-icon [name]="icons.ChevronsUpDown" color="black" size="20"></lucide-icon>
  </div>
</div>
