/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .form-label {
    @apply block text-sm font-medium text-gray-700 mb-1;
  }
  .form-input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent;
  }
  .form-cancel {
    @apply px-4 py-2 border border-gray-300 rounded-md text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500;
  }
  .form-save {
    @apply px-4 py-2 bg-myOrange-100 text-white rounded-md hover:bg-myOrange-200 focus:outline-none focus:ring-2 focus:ring-myOrange-200;
  }
}
